.content {
    display: flex;
    justify-content: space-between;
    flex: 1;
    margin: 10px;
    padding: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 10px;
    height: 93vh;
    background-color: white;

    .content_ {
        padding: 10px;
        font-size: 10px;
        color: gray;
        width: 100%;

        iframe {
            padding-top: 8px;
            width: 100%;
        }

    }
}