.home {
    display: flex;
    justify-content: space-between;
    flex: 1;
    margin: 10px;
    padding: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 10px;
    height: 600px;
    background-color: white;

    @media only screen and (max-width: 360px) {
        height: 40%;
            
    }

        .homeImage {
            // display: flex;
            align-items: center;
            justify-content: center;
            color: gray;
            width: 100%;

            @media only screen and (max-width: 360px) {
                font-size: .8rem;
                
            }

            h1 {
                display: flex;
                align-items: center;
                justify-content: center;
                @media only screen and (max-width: 360px) {
                    font-size: .7rem;
                    margin-top: 10px;
                    text-align: center;
                }
            }
            
            .img {
                
                width: 20rem;
                @media only screen and (max-width: 360px) {
                    width: 80%;
                    margin-left: 23px;
                    margin-top: 60px;
                }
                
            }
        }
}