.home {
    display: flex;
    justify-content: space-between;
    flex: 1;
    margin: 10px;
    padding: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 10px;
    height: 600px;
    background-color: white;

        .homeImage {
            display: flex;
            align-items: center;
            justify-content: center;
            color: gray;
            
            .img {
                width: 20rem;
            }
        }
}