$sidebar-bg-color: #06bcfb linear-gradient(315deg, #06bcfb 0%, #4884ee 74%) !default;
$submenu-bg-color: #06bcfb linear-gradient(315deg, #06bcfb 0%, #4884ee 74%) !default;
$highlight-color: #555 !default;
$sidebar-width: 270px !default ;
$submenu-bg-color-collapsed: #2faad3 !default;
$sidebar-collapsed-width: 40px !default;

@import 'react-pro-sidebar/dist/scss/styles.scss';

.sidebar {

    
    .side {
        height: 100vh;
        flex: 1;
        background-color: #06bcfb;
        background-image: linear-gradient(315deg, #06bcfb 0%, #4884ee 74%);
 
        .top {

            display: flex;
            padding-bottom: 12px;


            .menuIcon {
                display: none;
                

                @media only screen and (max-width:360px) {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: transparent ;
                    cursor: pointer;
                    width: 100%;
                    padding: 8px;
                    
                }
            }
                .collapse {
                    display: flex;
                    align-items: center;
                    justify-content: end;
                    cursor: pointer;
                    padding: 10px;
                    color: white;
                    width: 100%;

                    @media only screen and (max-width: 360px) {
                        display: none;
                        
                    }
                }
            }
            
    
            .sidebarMenu {
                color: white;

                .pro-menu {
                    .pro-menu-item {
                        .pro-inner-item {
                            .pro-icon-wrapper {
                                .pro-icon {

                                    margin-right: 35px;

                                    @media only screen and (max-width:360px) {
                                        margin-right: 35px;
                                    }
                                }
                            }
                        }

                        padding-bottom: 10px;
                        
                        @media only screen and (max-width: 360px) {
                            padding-bottom: 30px;
                        }
                        
                    }
                }    
            } 
        }
    a {
        text-decoration: none;
    }   

    
}



    



