$sidebar-bg-color: #fff  !default;
$submenu-bg-color: #fff  !default;
$highlight-color: rgb(28, 27, 27) !default;

@import 'react-pro-sidebar/dist/scss/styles.scss';

.sidebar {
    
    
        .side {
            height: 100vh;
            flex: 1;
            border-right: 0.5px solid rgb(235, 234, 234);
 
            .top {
        
                .logo {
                    padding: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: gray;
                }
            }
    
            .sidebarMenu {
                color: gray;
                overflow-y: scroll;

                .pro-menu-item {
                    li {
                        font-size: 13px;
                    }
                }

                .pro-menu-item:hover {
                    background-color: rgb(234, 231, 231);

                    
                }
    
            }

           
        }
    
        
    }

    



